.loginBody {
  margin-top: 1rem;
  color: rgb(114, 114, 114);
  font-size: 18px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.centerForm {
  background-color: rgb(102, 15, 102);
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.loginTitle {
  font-weight: 400;
  font-size: 40px;
}

.loginSubTitle {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.imagePreview {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagePreview > img {
  width: 150px;
  border-radius: 5px;
  object-fit: cover;
}
