.loginBody {
  margin-top: 1rem;
  color: #577d06;
  font-size: 18px;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 25vh;
  max-width: 1000px;
  opacity: 1;
}

.centerForm {
  background-color: #10170127;
  box-shadow: 0 20px 6px -6px rgba(49, 49, 49, 0.295);
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.loginTitle {
  font-weight: 400;
  font-size: 40px;
}

.loginSubTitle {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.imagePreview {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagePreview > img {
  width: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.loginPageButton {
  border-color: #ffffff;
  color: #ffffff;
  font-weight: 500;
}

.loginPageButton:hover {
  background-color: #0c0d0a;
  color: #85b324;
  border: #85b324;
}

input.form-control {
  border: 1px solid #ffffff;
  background-color: #ffffff44;
}

input.form-control:focus {
  box-shadow: none;
}

input.form-control::placeholder {
  color: #fff;
}
