#chatList {
  overflow-y: scroll;
  width: 100%;
}
#chatList::-webkit-scrollbar {
  width: 5px;
}

#chatList::-webkit-scrollbar-track {
  background: transparent;
}

#chatList::-webkit-scrollbar-thumb {
  background: #888;
}

#chatList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.otherMessage {
  border-radius: 0 10px 10px 10px;
  background-color: #665ead;
  color: black;
  margin: 3px 0;
  padding: 2px 10px;
  width: 90%;
  overflow-wrap: break-word;
}
.userMessage {
  border-radius: 10px 0 10px 10px;
  background-color: #a45caa;
  color: black;
  text-align: end;
  padding: 2px 10px;
  margin: 3px 0;
  width: 90%;
  margin-left: 10%;
  overflow-wrap: break-word;
}

.userMessage > .sender,
.otherMessage > .sender {
  font-size: 14px;
  color: rgb(39, 39, 39);
}

.attachmentDiv {
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
