.navbar {
  background-color: rgb(216, 216, 216);
  box-shadow: 0 8px 6px -6px black;
}
.navbar .btn {
  padding: 0.3rem;
}
.navbar input {
  width: auto;
}
.navbar .navDiv {
  color: rgb(114, 114, 114);
  font-size: 14px;
}
.navbar a {
  text-decoration: none;
}
.navbar .navDiv:hover {
  color: rgb(68, 68, 68);
}
