.navbar {
  background-color: transparent;
  color: #fff;
}
.navbar .btn {
  padding: 0.3rem;
}
.navbar input {
  width: auto;
}
.navbar .navDiv {
  font-size: 14px;
}
.navbar a {
  text-decoration: none;
}

.navDiv {
  background-color: #11132e33;
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 6px -6px rgba(49, 49, 49, 0.295);
  border-radius: 12px;
  color: #fff !important;
}

.navDiv > .nav-link {
  color: #fff !important;
}
