.navbar {
  background-color: transparent;
  color: #fff;
}
.navbar .btn {
  padding: 0.3rem;
}
.navbar input {
  width: auto;
}
.navbar .navDiv {
  font-size: 14px;
}
.navbar a {
  text-decoration: none;
}

.navDiv {
  background-color: #11132e33;
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 6px -6px rgba(49, 49, 49, 0.295);
  border-radius: 12px;
  color: #fff !important;
  height: 70px;
  width: 70px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.navDiv:hover {
  background-color: #05050c33;
}

.navDiv .nav-link {
  color: #fff !important;
}

.navLogo {
  cursor: auto;
}
.expandedNavDiv {
  width: 270px;
}

.navDiv .searchbarInput {
  visibility: visible;
  width: 200px;

  transition: 0.2s ease-in;
}

.navDiv .hiddenInput {
  visibility: hidden;
  width: 0px;
}

.navDiv .searchLogo {
  transition: 0.2s ease-in;
}
