.roomListBox {
  width: 100%;
  height: 90%;
}
.roomListBox > h4 {
  font-weight: 700;
  font-size: 25px;
}
.roomListing {
  background-color: transparent;
  cursor: pointer;
}

.noListings {
  background-color: transparent;
  font-weight: 700;
  font-size: 25px;
}
