.filePickerInput {
  position: absolute;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.homePagePic {
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.userInfo .form-group {
  margin: 0;
}

.textBox {
  height: 200px;
  width: 100%;
}

.editIcon {
  cursor: pointer;
  transition: 0.2s ease-in;
}

.editIcon:hover {
  color: #101701;
}

.editUsernameInput.form-control {
  width: auto;
  height: auto;
}

#userWhiteboard {
  background-color: #fff;
  width: 90%;
  height: 70%;
  border-radius: 5px;
  cursor: crosshair;
}

#userCanvas {
  height: 100%;
  width: 100%;
}
