.filePickerInput {
  position: absolute;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.homePagePic {
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.userInfo .form-group {
  margin: 0;
}

.textBox {
  height: 200px;
}
