#roomCanvas {
  height: 100%;
  width: 100%;
  z-index: 5;
  border-radius: 25px;
  position: relative;
  overflow: scroll;
}

#boardOptions {
  position: absolute;
  background-color: rgb(211, 211, 211);
  border-radius: 0 0 25px 25px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  z-index: 5;
}

#colorPicker {
  width: 100px;
  padding: 0;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  visibility: hidden;
}

#widthPicker {
  width: 50px;
  height: 30px;
  text-align: end;
}

#widthPicker::-webkit-outer-spin-button,
#widthPicker::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
