#globalStyle {
  background-color: #e5e5f7;

  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f785 30px
    ),
    repeating-linear-gradient(#577d0631, #577d0679);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
